.img{
    width: 350px;
    height: 150px;
    border-radius: 10px;
    margin: 50px;
    padding-bottom: 200px;

    
}


.color{
    color:#72c17a;

}
.btn{
    border-radius: solid 3px #72c17a ;

}
.d_flex{
    display:flex;
}

.list{
    list-style: none;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.btn-login{
    margin: 120px;

}